In [1]:
import scipy.stats as st

### Problem Statement 1

Suppose we have avg marks of school i.e. 494 & standard deviation is 100. What is the probability of scoring greater than 700 marks?

In [2]:
#solution
mu=494
std=100
x=700
p_value=st.norm.cdf(x,loc=mu,scale=std)
p_value

0.9803007295906231

In [3]:
# as above is shows that the chances are 98% that is not possible so
1-p_value

0.019699270409376912

### Poblem Statement 2

Mercury makes a 2.4 lt V-6 engine. The Laser XRi, used in speedboats. The companies engineer believe that the engine delivers at an avg power of 220 horsepower & std of 15 horsepower. A potential buyer intend to sample 100(each engine runs single time). What is the probability for the sample mean greter then 217 horsepower?

In [4]:
mu_x_bar=220
sigma=15
sample_size=100
sigma_sample=sigma/pow(sample_size,0.5)
x_bar=217
p_value=st.norm.cdf(x_bar,loc=mu_x_bar,scale=sigma_sample)
p_value

0.022750131948179195

# Hypothesis

In [5]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/training-ml/Files/main/Hypothesis%20ttest.csv")
df.head()

    ID  Gender  Race  SEB  School  Prog  Read  Write  Math1  Math2  SST
0   70       0     4    1       1     1    57     52     41     47   57
1  121       1     4    2       1     3    68     59     53     63   61
2   86       0     4    3       1     1    44     33     54     58   31
3  141       0     4    3       1     3    63     44     47     53   56
4  172       0     4    2       1     2    47     52     57     53   61

A teacher want to teach students for a competitive exams.She collected sample of students marks from different schools & based on her past experience she believes these students can score marks more than 60.Now she wants to conduct hypothesis test on marks.

In [6]:
#Ho:: mu>=60
#H1:: mu<60

In [7]:
mu=df['Math1'].mean()
alpha=0.05
x_bar=60

###  1 Sample ttest

In [8]:
#since we conducting test for one sample we will go for 1sample ttest
# when we run 1sample ttset we get two value 1. t for sats & 2. p_value

In [9]:
s,p=st.ttest_1samp(df['Math1'],x_bar)

In [10]:
s

-11.102736525713398

In [11]:
p

1.3339158110547646e-22

In [12]:
# for left tail we need p/2
p/2

6.669579055273823e-23

In [13]:
# As p/2 < alpha ----> reject Ho i.e wrong assumption by teacher that student score 60

### 2 Sample ttest

#### paired & independent Sample

In [14]:
df['Gender'].value_counts()

1    109
0     91
Name: Gender, dtype: int64

In [15]:
#Independent Sample
st.ttest_ind(df[df['Gender']==1].Math1,df[df['Gender']==0]['Math2'])

Ttest_indResult(statistic=-0.5948194254628475, pvalue=0.5526433150749936)

In [16]:
s,p=st.ttest_ind(df[df['Gender']==1].Math1,df[df['Gender']==0]['Math1'])

In [17]:
p

0.6800544974232143

In [18]:
#p>alpha so it fails to reject Ho

In [19]:
#Paired Sample
s,p=st.ttest_rel(df.Math1,df.Math2)

In [20]:
p

0.17676525605507354

## ANOVA

In [22]:
import statsmodels.formula.api as sm
mod=sm.ols('Math1~Prog',data=df).fit()       #Ordinary least square
mod

In [23]:
import statsmodels.api as k
anov=k.stats.anova_lm(mod)
anov

             df        sum_sq     mean_sq         F    PR(>F)
Prog        1.0    393.527279  393.527279  4.564033  0.033878
Residual  198.0  17072.267721   86.223574       NaN       NaN

As Ho:: Prog1=prog2=prog3
& p_value i.e. 0.033878 which is less than aplha(0.05)
Hence it rejects the Ho
Conclusion:: prog1 avg marks != prog2 avg marks!= prog3 avg marks

## Covariance & Corelation

<b> Covariance and correlation</b>

Points to be covered in this topic:

1.Compare one variable vs another variable

2.Interpret variation with one variable vs another variable

3.relationship between multiple variables

<b>Covariance</b>

1.Method to find variance between two variables.

2.Itâ€™s the relationship between a pair of random variables where change in one variable 3.causes change in another variable.

4.Can take any value between -infinity to +infinity, where negative value represents the negative relationship whereas positive value represents the positive relationship.

5.Used for linear relation between variables.

6.Gives direction of relationship between variables.

7.Has dimensions. Depending upon the variables, it has different dimensions.

Formula of covariance for population:

<b>Correlation</b>

1.it shows weather and how strongly pairs of variable are related to each other.

2. Correlation and values close to -1 represents strong negative correlation.

3. These variables are indirectly related to each other.

4. It gives the direction and strength of the relationship between variables.

5. It is the scaled version of covariance.

6. It is dimensionless.

There are 3 types of correlation relationships :

Positive correlation: it is in upward direction

Zero correlation: it is a straight horizontal line. Data is scattered ,no systematic pattern in the graph.

Negative correlation: it is in downward direction