In [5]:
def a(dict):
    for x,y in dict.items():
        yield x,y

n={1:"hi",2:"lol"}
v=a(n)
print(v)

<generator object a at 0x000002751E801C00>

In [6]:
next(v)

(1, 'hi')

In [7]:
def myfun(i):
    while i<3:
        yield i
        i+=1
        
n=myfun(0)
print(n)
next(n)

<generator object myfun at 0x000002751E801D68>

0

In [8]:
next(n)

1

In [9]:
def v():
    i=5
    yield i
    i=i*i
    yield i
    i=i*i*i
    yield i
    
n=v()
next(n)

5

In [10]:
next(n)

25

In [11]:
next(n)

15625

In [12]:
def v():
    i=5
    yield i
    i=i*i
    yield i
    
n=v()
for x in n:
    print(x)

5
25

In [13]:
f=range(6)
print("List comp:",end=":")
q=[x+2 for x in f]
print(q)
print("Generator exp",end=":")
r=(x+2 for x in f)
print(min(r))

List comp::[2, 3, 4, 5, 6, 7]
Generator exp:2

In [14]:
f=range(6)
print("List comp:",end=":")
q=[x+2 for x in f]
print(q)
print("Generator exp",end=":")
r=(x+2 for x in f)
for x in r:
    print(x)

List comp::[2, 3, 4, 5, 6, 7]
Generator exp:2
3
4
5
6
7

!pip3 install jedi==0.17.2

In [15]:
l=[1,2]
l=l*3
l

[1, 2, 1, 2, 1, 2]

In [16]:
l.index(2)

1

In [17]:
l

[1, 2, 1, 2, 1, 2]

In [18]:
l.pop()

2

In [19]:
l.pop(1)

2

In [20]:
l

[1, 1, 2, 1]

In [21]:
l.extend([2,3])

In [22]:
l

[1, 1, 2, 1, 2, 3]

In [23]:
l=l[::-1]
l

[3, 2, 1, 2, 1, 1]

In [24]:
l.sort()

In [25]:
l

[1, 1, 1, 2, 2, 3]

In [26]:
s='Hello World'
s[::-1]

'dlroW olleH'

In [27]:
s[:5:-1]

'dlroW'

In [28]:
s[:6:-1]

'dlro'

In [29]:
s[:4:-1]

'dlroW '

In [30]:
def is_prime(num):
    for n in range(2,num):
        if num%n==0:
            print('not prime')
            break
    else:
        print('prime')

In [31]:
is_prime(79)

prime

In [32]:
s

'Hello World'

In [33]:
s[::-1]

'dlroW olleH'

In [34]:
s[-2:-7:-1]

'lroW '

In [35]:
s[3:1:-1]

'll'

In [36]:
print("my name is "+input()+' !!')

mk
my name is mk !!

In [37]:
try:
    f=open('text.txt','w')
    f.write('written')
except:
    print('exception occured')
else:
    print('success')
    f.close()

success

# Map v/s Filter

In [38]:
def evenCheck(num):
    if num%2==0:
        return True

In [39]:
print(list(filter(evenCheck,[10,15,20])))

[10, 20]

In [40]:
print(list(map(evenCheck,[10,15,20])))

[True, None, True]

In [41]:
print(list(filter(lambda x : x%2==0,[10,15,220])))

[10, 220]

In [42]:
y=lambda x : x*x

In [43]:
y(20)

400

In [44]:
print(list(map(lambda x : x%2==0,[10,15,220])))

[True, False, True]

# File Handling

In [45]:
%%writefile 1836.txt
i am writimg in it first time

Overwriting 1836.txt

In [46]:

f=open('1836.txt')
f.read()

'i am writimg in it first time\n'

In [47]:
f.read()

''

In [48]:
f.readlines()

[]

In [55]:
f.seek(2)   #arg is the index no.

2

In [56]:
f.readlines()

['am writimg in it first time\n']

In [57]:
f.close()

In [58]:
f=open('1836.txt','w+')
f.write("DataTrained")

11

In [59]:
f.close()

In [60]:
f=open("1836.txt")
f.readlines()

['DataTrained']

In [61]:
f.close()

In [62]:
%%writefile 1835.txt
firstLine
secondLine
thirdLine

Overwriting 1835.txt

In [63]:
for line in open('1835.txt'):
    print(line)

firstLine

secondLine

thirdLine

In [64]:
f=open('1835.txt')
f.read()

'firstLine\nsecondLine\nthirdLine\n'

# OOPs

In [65]:
class Person:
    def __init__(self,name,surname,dob):
        self.name=name
        self.surname=surname
        self.dob=dob
    def age(self,current_year):
        return current_year-self.dob
    def __str__(self):
        return "%s %s was born in %d"%(self.name,self.surname,self.dob)
    
mk=Person('MK','Saxena',1997)
print(mk)
print('Age is ',mk.age(2021))

MK Saxena was born in 1997
Age is  24

In [131]:
class Student(Person):
    def __init__(self,student_id,*args):
        super(Student,self).__init__(*args)
        self.student_id=student_id
    def __str__(self):
        return "%s is StudentId & %s %s your Dob is: %s"%(self.student_id,self.name,self.surname,self.dob)
s=Student(1,'mk','Saxena',1997)
print(s)

1 is StudentId & mk Saxena your Dob is: 1997

In [132]:
class Tyres:
    def __init__(self,branch,balanced_bias,optPressure):
        self.branch=branch
        self.balanced_bias=balanced_bias
        self.optPressure=optPressure
    def __str__(self):
        return "Tyres:\n\tBranch:"+self.branch+"\n\tBalanced Bias:"+str(self.balanced_bias)+"\n\tOptimal Pressure:"+str(self.optPressure)
        
class Engine:
    def __init__(self,fuelType,noiseLevel):
        self.fuelType=fuelType
        self.noiseLevel=noiseLevel
    def __str__(self):
        return'Engine:\n\tFuel Type:'+self.fuelType+"\n\tNoise Level:"+str(self.noiseLevel)
class Body:
    def __init__(self,size):
        self.size=size
    def __str__(self):
        return "Body:\n\tSize:"+self.size
class Car:
    def __init__(self,tyres,engine,body):
        self.t=tyres
        self.e=engine
        self.b=body
    def __str__(self):
        return str(self.t)+"\n"+str(self.e)+"\n"+str(self.b)
t=Tyres('Ceat',True,34)
e=Engine('Petrol',2.3)
b=Body('SUV')
c=Car(t,e,b)
print(c)

Tyres:
	Branch:Ceat
	Balanced Bias:True
	Optimal Pressure:34
Engine:
	Fuel Type:Petrol
	Noise Level:2.3
Body:
	Size:SUV

# SEQUEL

In [ ]:
!pip install mysql

In [133]:
import mysql.connector

In [134]:
mydb=mysql.connector.connect(

    host='localhost',
    username='root',
    password='9897067111')
mydb

In [135]:
myCursor=mydb.cursor()
myCursor.execute("show databases")
for x in myCursor:
    print(x)

('bank',)
('db1',)
('employeedb',)
('information_schema',)
('mysql',)
('performance_schema',)
('practice',)
('sakila',)
('sys',)
('testdb',)
('world',)

In [136]:
class Dog:
    tricks=[]
    def __init__(self,name):
        self.name=name
    def add_tricks(self,trick):
        self.tricks.append(trick)

In [137]:
d=Dog('Tom')

In [138]:
e=Dog('buddy')

In [139]:
e.add_tricks('roll_over')
d.add_tricks('play_dead')

In [140]:
Dog.tricks

['roll_over', 'play_dead']

# errorsHandling

In [1]:
try:
    n=int(input("Enter any num:"))
except:
    print("You didn't type the integer",end="!!\n")
finally:
    print("You executed",end="!!")

Enter any num:5
You executed!!

In [3]:
while 1:
    try:
        n=int(input("Enter any num:\n"))
        break
    except:
        print("You didn't type the integer try again",end="!!\n")
        continue
    finally:
        print("You executed",end="!!\n")

Enter any num:
m
You didn't type the integer try again!!
You executed!!
Enter any num:
8o
You didn't type the integer try again!!
You executed!!
Enter any num:
89
You executed!!

In [4]:
while True:
    try:
        int(input("Enter any integer:\n"))
    except:
        print("That's not an integer:\n")
        continue
    else:
        print("Yup that's an integer\n")
        break
    finally:
        print('You executed!!')

Enter any integer:
lo
That's not an integer:

You executed!!
Enter any integer:
5m
That's not an integer:

You executed!!
Enter any integer:
6
Yup that's an integer

You executed!!

# SQL

In [ ]:
import mysql