In [2]:
import pandas as pd
import numpy as np

In [4]:
#by default freq='d' changes by date
date_range=pd.date_range('4/12/2021',periods=6)
date_range

DatetimeIndex(['2021-04-12', '2021-04-13', '2021-04-14', '2021-04-15',
               '2021-04-16', '2021-04-17'],
              dtype='datetime64[ns]', freq='D')

In [5]:
#freq=m its gives the last date of that month
date_range=pd.date_range('4/12/2021',periods=6,freq='M')
date=pd.DataFrame(date_range,columns=['Date'])
date

        Date
0 2021-04-30
1 2021-05-31
2 2021-06-30
3 2021-07-31
4 2021-08-31
5 2021-09-30

In [6]:
#freq=y its gives the last date & month of that year
date_range=pd.date_range('4/12/2021',periods=6,freq='Y')
date=pd.DataFrame(date_range,columns=['Date'])
date

        Date
0 2021-12-31
1 2022-12-31
2 2023-12-31
3 2024-12-31
4 2025-12-31
5 2026-12-31

In [7]:
date_range=pd.date_range('4/12/2021',periods=6)
date=pd.DataFrame(date_range,columns=['Date'])
date

        Date
0 2021-04-12
1 2021-04-13
2 2021-04-14
3 2021-04-15
4 2021-04-16
5 2021-04-17

In [8]:
date['Day']=date['Date'].dt.day
date['Month']=date['Date'].dt.month
date['Year']=date['Date'].dt.year
date

        Date  Day  Month  Year
0 2021-04-12   12      4  2021
1 2021-04-13   13      4  2021
2 2021-04-14   14      4  2021
3 2021-04-15   15      4  2021
4 2021-04-16   16      4  2021
5 2021-04-17   17      4  2021

In [11]:
date_range=pd.date_range('1/1/2021',periods=7)
dates_index=pd.Series(np.arange(7),index=date_range)
dates_index

2021-01-01    0
2021-01-02    1
2021-01-03    2
2021-01-04    3
2021-01-05    4
2021-01-06    5
2021-01-07    6
Freq: D, dtype: int32