# comments

# multi line comment

In [1]:
#hi this is manoj
#welcome
#homr
#coming

# Docstring comments

In [2]:
"""
docstring comments are not omitted by interpretr
while comments are omitted
"""

'\ndocstring comments are not omitted by interpretr\nwhile comments are omitted\n'

In [3]:
"""
docstring comments are not omitted by interpretr
while comments are omitted
"""
a=2
b=5
a*b

10

In [4]:
a=2
b=5
print(a*b)
"""
docstring comments are not omitted by interpretr
while comments are omitted
"""

10

'\ndocstring comments are not omitted by interpretr\nwhile comments are omitted\n'

In [5]:
j=[[[1,2],[3,10]],[[4,5],[6,11]],[[7,8],[9,12]]]
[print(*i) for i in j ]

[1, 2] [3, 10]
[4, 5] [6, 11]
[7, 8] [9, 12]

[None, None, None]

In [2]:
#install mysql lib
!pip install mysql

Requirement already satisfied: mysql in c:\users\p.c\anaconda3\lib\site-packages (0.0.3)
Requirement already satisfied: mysqlclient in c:\users\p.c\anaconda3\lib\site-packages (from mysql) (2.1.0)

In [3]:
#importing mysql module
import mysql.connector

ModuleNotFoundError: No module named 'mysql'

In [8]:
!pip search mysql-connector | grep --color mysql-connector-python

'grep' is not recognized as an internal or external command,
operable program or batch file.

In [8]:
#syntax for using sql
mydb=mysql.connector.connect(
host='localhost',
username='root',
password='9897067111'
)
#this is the cursor where we are in dbms 
myCursor=mydb.cursor()

In [9]:
#showing database
myCursor.execute("SHOW DATABASES")

In [10]:
for x in myCursor:
    print(x)

('bank',)
('db1',)
('employeedb',)
('information_schema',)
('mysql',)
('performance_schema',)
('practice',)
('sakila',)
('sys',)
('testdb',)
('world',)

In [11]:
#create database
myCursor.execute("Create DATABASE if not exists STUDENT")   #[IF NOT EXISTS]

In [12]:
#showing databases
myCursor.execute("SHOW DATABASES")
for x in myCursor:
    print(x)

('bank',)
('db1',)
('employeedb',)
('information_schema',)
('mysql',)
('performance_schema',)
('practice',)
('sakila',)
('student',)
('sys',)
('testdb',)
('world',)

## Create Table

In [13]:
#we use use database_name for changing/using that particular database to create or use table in that.
#but here we only mention the database_name in the syntax that particular database we want to use to create table
import mysql.connector
mydb=mysql.connector.connect(host='localhost',username='root',password='9897067111',database='student')
myCursor=mydb.cursor()
myCursor.execute('create table if not exists  stud (gender varchar(6),id integer(10),marks int(3))')

In [14]:
#showing tables in database
myCursor.execute("show full tables")
for x in myCursor:
    print(x)

('stud', 'BASE TABLE')

In [15]:
#showing tables in database
myCursor.execute("show  tables")
for x in myCursor:
    print(x)

('stud',)

### DATA INSERTION

INSERTING SINGLE RECORD IN TABLE

In [16]:
myCursor.execute("insert into stud (gender,id,marks) values('male',0001,53)")

In [17]:
#Stores data permanently in the table
mydb.commit()
print(myCursor.rowcount,'record inserted')

1 record inserted

In [18]:
myCursor.execute("select * from stud")
for x in myCursor:
    print(x)

('male', 1, 53)

INSERTING MULTIPLE RECORD

In [19]:
sql='insert into stud (gender,id,marks) values(%s,%s,%s)'
val=(('female',5,74),('female',3,56),('male',2,48),('male',4,85))
myCursor.executemany(sql,val)
mydb.commit()
print(myCursor.rowcount,'records inserted')

4 records inserted

In [20]:
myCursor.execute("select * from stud")
for x in myCursor:
    print(x)

('male', 1, 53)
('female', 5, 74)
('female', 3, 56)
('male', 2, 48)
('male', 4, 85)

In [21]:
"""
*****************************
*****************************
If we want to insert multiple record in a mysql command prompt then the syntax is :
INSERT INTO STUD (gender,id,marks) VALUES('FEMALE',1,56) ('VALUE1',VALUE2,VALUE3) ('VALUE1',VALUE2,VALUE3)...
*****************************
*****************************
"""

"\n*****************************\n*****************************\nIf we want to insert multiple record in a mysql command prompt then the syntax is :\nINSERT INTO STUD (gender,id,marks) VALUES('FEMALE',1,56) ('VALUE1',VALUE2,VALUE3) ('VALUE1',VALUE2,VALUE3)...\n*****************************\n*****************************\n"

## LOAD EXTERNAL DATA INTO TABLE

In [22]:
#****Checking local_infile is on. If not then we set it to on
myCursor.execute("SHOW VARIABLES LIKE 'local_infile'")
for x in myCursor:
    print(x)

('local_infile', 'ON')

In [23]:
#****setting local_infile ON*****
myCursor.execute('SET GLOBAL local_infile=ON')

In [24]:
#Checking that we set it to on or not
myCursor.execute("SHOW VARIABLES LIKE 'local_infile'")
for x in myCursor:
    print(x)

('local_infile', 'ON')

In [25]:
#**Getting  location where it will pick the file 
myCursor.execute("SHOW VARIABLES LIKE 'secure_file_priv'")
for x in myCursor:
    print(x)

('secure_file_priv', 'C:\\ProgramData\\MySQL\\MySQL Server 8.0\\Uploads\\')

In [26]:
myCursor.execute("LOAD DATA INFILE 'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/stud.csv' INTO TABLE stud fields terminated by ',' lines terminated by '\n' ignore 1 lines")
mydb.commit()

In [27]:
myCursor.execute("SELECT * FROM STUD")
for x in myCursor:
    print(x)

('male', 1, 53)
('female', 5, 74)
('female', 3, 56)
('male', 2, 48)
('male', 4, 85)
('male', 6, 99)
('female', 10, 65)
('male', 8, 63)
('male', 9, 78)
('female', 11, 43)

In [28]:
#ONE more way to show record
myCursor.execute('Select * from stud')
myResult=myCursor.fetchall()
for x in myResult:
    print(x)

('male', 1, 53)
('female', 5, 74)
('female', 3, 56)
('male', 2, 48)
('male', 4, 85)
('male', 6, 99)
('female', 10, 65)
('male', 8, 63)
('male', 9, 78)
('female', 11, 43)

### UPDATE RECORD

In [29]:
myCursor.execute("UPDATE STUD SET marks=48 where id=3")
mydb.commit()
print(myCursor.rowcount,"record(s) affected")

1 record(s) affected

In [30]:
sql="SELECT * FROM STUD"
myCursor.execute(sql)
myResult=myCursor.fetchall()
for x in myResult:
    print(x)

('male', 1, 53)
('female', 5, 74)
('female', 3, 48)
('male', 2, 48)
('male', 4, 85)
('male', 6, 99)
('female', 10, 65)
('male', 8, 63)
('male', 9, 78)
('female', 11, 43)

In [31]:
"""
more updates queries:https://www.geeksforgeeks.org/sql-update-statement/
"""

'\nmore updates queries:https://www.geeksforgeeks.org/sql-update-statement/\n'

### DROP TABLE

In [32]:

sql="DROP TABLE STUD"
myCursor.execute(sql)
print(myCursor.rowcount,'record(s) affected')

0 record(s) affected

##### HOW TO DROP DATABASE

In [33]:
import mysql.connector
mydb=mysql.connector.connect(
host='localhost',
username='root',
password='9897067111')
myCursor=mydb.cursor()
sql="DROP database if exists STUDENT"  #[if exists] it's an option to avoid creating errors
myCursor.execute(sql)

In [34]:

sql='SHOW DATABASES'
myCursor.execute(sql)
myResult=myCursor.fetchall()
for x in myResult:
    print(x)

('bank',)
('db1',)
('employeedb',)
('information_schema',)
('mysql',)
('performance_schema',)
('practice',)
('sakila',)
('sys',)
('testdb',)
('world',)

In [35]:
"""
1.Check The Database
2.Create Database
3.Create Table
4.Inserted records in table:single record in a sql command
                           :Multiple record in a sql command
                           :Load csv,excel file in a sql command
5.Fetch Records
6.Data Selection with clauses like:Where
                                  :Order By
                                  :Select Distinct
7.Update table/records
"""

'\n1.Check The Database\n2.Create Database\n3.Create Table\n4.Inserted records in table:single record in a sql command\n                           :Multiple record in a sql command\n                           :Load csv,excel file in a sql command\n5.Fetch Records\n6.Data Selection with clauses like:Where\n                                  :Order By\n                                  :Select Distinct\n7.Update table/records\n'

In [36]:
mydb=mysql.connector.connect(host='localhost',username='root',password='9897067111',database='db1')
myCursor=mydb.cursor()
myCursor.execute('Show tables')  #We can also use in command prompt show tables from db1 or show tables in db1
                                # show tables from db1 like 'stud%'---> Here we can use clauses like , where
for x in myCursor:
    print(x)

('marks',)
('student',)

myCursor.execute("select * from student")
myResult=myCursor.fetchall()
for x in myResult:
    print(x)

myCursor.execute("truncate  table student")
for x in myCursor:
    print(x)

In [53]:
myCursor.execute("desc student")
for x in myCursor:
    print(x)

('id', b'int', 'YES', '', None, '')
('name', b'varchar(10)', 'YES', '', None, '')

In [54]:
sql="Insert into student(id , name) values (%s,%s)"
val=((101,'MK'),(102,'lalit'),(103,'anany'),(104,'vikky'),(105,'pp'),(106,'anant'),(107,'ravi'),(108,'bongu'))
myCursor.executemany(sql,val)
print(myCursor.rowcount,'record affected!!')

8 record affected!!

In [55]:
sql="Insert into student(id , name) values (%s,%s)"
val=((109,'ranji'),(112,'veer'),(113,'nany'),(114,'karan'))
myCursor.executemany(sql,val)
print(myCursor.rowcount,'record(s) affected!!')

4 record(s) affected!!

In [56]:
myCursor.execute("SELECT * FROM STUDENT")
for x in myCursor:
    print(x)

(101, 'MK')
(102, 'lalit')
(103, 'anany')
(104, 'vikky')
(105, 'pp')
(106, 'anant')
(107, 'ravi')
(108, 'bongu')
(109, 'ranji')
(112, 'veer')
(113, 'nany')
(114, 'karan')

In [57]:
myCursor.execute("SHOW TABLES")
for x in myCursor:
    print(x)

('marks',)
('student',)

In [58]:
myCursor.execute("CREATE TABLE if not exists marks (ID INT(5),MARKS INT(3),gender varchar(6))")

In [59]:
sql="insert into marks (id,marks,gender) values (%s,%s,%s)"
val=((101,53,'Male'),(102,85,'Female'),(103,52,'Female'),(104,98,'Male'),(105,49,'Female'),(106,85,'Male'),(107,94,'Male'),(108,56,'Others'))
myCursor.executemany(sql,val)
print(myCursor.rowcount,'record(s) affected!!')

8 record(s) affected!!

In [60]:
sql="insert into marks (id,marks,gender) values (%s,%s,%s)"
val=((110,53,'Male'),(111,85,'Female'),(115,52,'Female'))
myCursor.executemany(sql,val)
print(myCursor.rowcount,'record(s) affected!!')

3 record(s) affected!!

In [61]:
myCursor.execute("select * from marks")
for x in myCursor:
    print(x)

(101, 53, 'Male')
(102, 85, 'Female')
(103, 52, 'Female')
(104, 98, 'Male')
(105, 49, 'Female')
(106, 85, 'Male')
(107, 94, 'Male')
(108, 56, 'Others')
(110, 53, 'Male')
(111, 85, 'Female')
(115, 52, 'Female')

### INNER JOIN

In [62]:
"""
INNER JOIN matches each records from one table with every record to other table and allows you to query
row that contain columns from both  tables
"""
myCursor.execute("SELECT S.id,S.name, m.marks,m.gender from Student S inner join  marks m on S.id=m.id")
for x in myCursor:
    print(x)

(101, 'MK', 53, 'Male')
(102, 'lalit', 85, 'Female')
(103, 'anany', 52, 'Female')
(104, 'vikky', 98, 'Male')
(105, 'pp', 49, 'Female')
(106, 'anant', 85, 'Male')
(107, 'ravi', 94, 'Male')
(108, 'bongu', 56, 'Others')

### RIght Join

In [63]:
"""99
right join returns matching and non matching with none
"""

myCursor.execute("SELECT S.id,S.name, m.marks,m.gender from Student S right join  marks m on S.id=m.id")
for x in myCursor:
    print(x)

(101, 'MK', 53, 'Male')
(102, 'lalit', 85, 'Female')
(103, 'anany', 52, 'Female')
(104, 'vikky', 98, 'Male')
(105, 'pp', 49, 'Female')
(106, 'anant', 85, 'Male')
(107, 'ravi', 94, 'Male')
(108, 'bongu', 56, 'Others')
(None, None, 53, 'Male')
(None, None, 85, 'Female')
(None, None, 52, 'Female')

In [64]:
import mysql.connector
mydb=mysql.connector.connect(host='localhost', username='root',password='9897067111')
myCursor=mydb.cursor()
myCursor.execute("SHOW DATABASES")
for x in myCursor:
    print(x)

('bank',)
('db1',)
('employeedb',)
('information_schema',)
('mysql',)
('performance_schema',)
('practice',)
('sakila',)
('sys',)
('testdb',)
('world',)

In [65]:
myCursor.execute("SHOW TABLES IN db1")
for x in myCursor:
    print(x)

('marks',)
('student',)

## COLUMNS

#### ADDIING SINGLE COLUMN IN A EXISTING TABLE

In [66]:
mydb=mysql.connector.connect(host='localhost',username='root',password='9897067111',database='db1')
myCursor=mydb.cursor()
myCursor.execute('Show tables')  #We can also use in command prompt show tables from db1 or show tables in db1
                                # show tables from db1 like 'stud%'---> Here we can use clauses like , where
for x in myCursor:
    print(x)

('marks',)
('student',)

In [ ]:
myCursor.execute("ALTER TABLE STUDENT add last_name varchar(10) not null")
for x in myCursor:
    print(x)

In [26]:
myCursor.execute("ALTER TABLE STUDENT change last_name surname varchar(10) not null")
for x in myCursor:
    print(x)

ProgrammingError: 1060 (42S21): Duplicate column name 'last_name'

In [32]:
myCursor.execute("desc student")
for x in myCursor:
    print(x)

InternalError: Unread result found

#### ADDING MULTIPLE COLUMN IN A EXISTING TABLE

In [ ]:
"""
SYNTAX:

ALTER TABLE TABLE_NAME
ADD COL1_NAME DEFNITION [FIRST|AFTER COLUMN_NAME]
ADD COL2_NAME DEFNITION [FIRST|AFTER COLUMN_NAME]
"""

#### MODIFY COLUMN

In [ ]:
myCursor.execute("alter table student modify id varchar(20) not null")

In [ ]:
myCursor.execute("Select * from student")
for x in myCursor:
    print(x)

In [ ]:
myCursor.execute("desc student")
for x  in myCursor:
    print(x)

#### DROP COLUMN

In [45]:
myCursor.execute('alter table student drop column surname')

#### DROP TABLE

In [ ]:
"""
SYNTAX:
DROP TABLE TABLE_NAME IF EXISTS
#delete table
"""

#### TRUNCATE

SYNTAX:
TRUNCATE TABLE TABLE_NAME """it delete all records from table but not delete the table""""

#### DELETE SINGLE RECORD

In [ ]:
myCursor.execute("delete from studentss where id='101'")

In [ ]:
myCursor.execute("SELECT * FROM STUDENTSS")
for x in myCursor:
    print(x)

#### RENAME COLUMN

In [ ]:
myCursor.execute("alter table studentss change column name first_name varchar(20) not null")

In [ ]:
myCursor.execute("desc studentss")
for x in myCursor:
    print(x)

#### RENAME TABLE

In [ ]:
myCursor.execute("alter table studentss rename to student")

In [ ]:
myCursor.execute("SHOW TABLES")
for x in myCursor:
    print(x)

#### CONSTRAINTS
1.PRIMARY KEY
2.FOREIGN KEY
3.NOT NULL
4.UNIQUE
5.CHECK
6.ENUM
7.DEFAULT
8.INDEX
9.AUTO_INCREAMENT

#### replace command